body {
    background-color: #2f2f2f;
    margin-left: 10em;
    margin-right: 10em;
}

h1 {
    color: gold;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid gold;
    text-align: center;
    padding: 8px;
  }

  .upper_column {
      background-color: gold;
      color: #2f2f2f;
  }

  .lower_column {
      color: gold;
  }

  .logo {
      width: 10em;
  }